/* Style the contact section */
#contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style heading and paragraphs in the contact section */
#contact h2 {
  color: #333;
}

#contact p {
  line-height: 1.5;
  color: black;
  text-align: left;
  font-size: small;
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style form labels */
form label {
  margin-bottom: 10px;
  text-align: left;
  color: black;
  font-size: small;
}

/* Style form input fields and textarea */
form input,
form textarea {
  width: 100%;
  padding: 10px; /* Increased padding for better appearance */
  margin-bottom: 15px; /* Increased margin for better spacing */
  box-sizing: border-box;
}

/* Style form submit button */
form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for submit button */
form button:hover {
  background-color: #45a049;
}
