body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

header {
  text-align: center;
  margin: 20px 0;
}

header h1 a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent (h1) */
}

header h1 a:hover {
  text-decoration: underline; /* Underline on hover */
  color: #0066cc; /* Change color on hover if desired */
}

nav {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 15px; /* Adjusted margin for more spacing between nav links */
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px; /* Adjusted font size for consistency */
}

a:hover {
  color: #0066cc;
}

main {
  text-align: center
}

/* Contact form */

/* Reset default margin and padding for form elements */
form {
  margin: 0;
  padding: 0;
}

/* Style form labels */
form label {
  display: block; /* Display labels as blocks to stack vertically */
  margin-bottom: 5px; /* Add a small margin between labels and form fields */
}

/* Style form input fields and textarea */
form input,
form textarea {
  width: 100%; /* Make input fields and textarea take up full width */
  padding: 8px; /* Add padding for better appearance */
  margin-bottom: 10px; /* Add margin between form fields */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Style form submit button */
form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for submit button */
form input[type="submit"]:hover {
  background-color: #45a049;
}

