body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

header {
  text-align: center;
  margin: 20px 0;
}

header h1 a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent (h1) */
}

header h1 a:hover {
  text-decoration: underline; /* Underline on hover */
  color: #000000; /* Change color on hover if desired */
}

nav {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 15px; /* Adjusted margin for more spacing between nav links */
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px; /* Adjusted font size for consistency */
}

a:hover {
  color: #0066cc;
}

main {
  text-align: center
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #555; /* Set text color for the footer */
  padding: 10px; /* Add padding to the footer for spacing */
  text-align: left; /* Left-align the content in the footer */
  font-size: 12px; /* Set a smaller font size */
  width: 100%; /* Full width */
}

