body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

header {
  text-align: center;
  margin: 20px 0;
}

nav {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 15px; /* Adjusted margin for more spacing between nav links */
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px; /* Adjusted font size for consistency */
}

a:hover {
  color: #0066cc;
}

main {
  text-align: ce
