/* Style the work section */
#work {
  width: 80%; /* Adjust the width */
  margin: 20px auto; /* Add some margin for spacing */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Style heading and paragraphs in the work section */
#work h2 {
  color: #333; /* Set heading color */
}

#work p {
  line-height: 1.5; /* Adjust line height for better readability */
  color: black; /* Set paragraph text color */
  text-align: left;
  font-size: small;
}

/* Style the boxes for displaying past works */
.work-box {
  border: 1px solid #ccc; /* Add a border to the work boxes */
  padding: 15px; /* Add padding for spacing */
  margin-bottom: 20px; /* Add margin between work boxes */
  border-radius: 5px; /* Add rounded corners */
}

.work-item {
  margin-bottom: 20px; /* Add margin between work items */
}

.work-item img {
  max-width: 100%; /* Make sure images don't exceed their container width */
  height: 200px; /* Set a fixed height for uniformity */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  display: block; /* Remove default inline display */
  margin: 0 auto; /* Center the image within its container */
}

.description {
  margin-top: 10px; /* Add margin between image and description */
}
